@import url(https://fonts.googleapis.com/css?family=Roboto:300);
/*CSS para index*/
.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #183c97;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.form button {
    -webkit-transition: all 0.3s ease;
}
.form button:hover,.form button:active,.form button:focus {
    background: #617ed4;
}
.form .message {
    margin: 15px 0 0;
    color: #686868;
    font-size: 15px;
}
.form .message a {
    color: #1a4cdc;
    text-decoration: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}
body {
    background: rgba(30, 50, 170, 0.6); /* fallback for old browsers */
    background: -webkit-linear-gradient(right, rgba(30, 50, 170, 0.6), #416774);
    background: -moz-linear-gradient(right, rgba(30, 50, 170, 0.6), #416774);
    background: -o-linear-gradient(right, rgba(30, 50, 170, 0.6), #416774);
    background: linear-gradient(to left, rgba(30, 50, 170, 0.6), #416774);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
p{
    text-align: justify-all;
    color: #878787;
}
/*CSS para área principal*/
body{
    letter-spacing: 2px;
    font-weight: lighter;
    color: #878787;
    font-size: 1em;
}
#status{
    text-align: right;
}
#divID1{
    width: 30%;
}
#mainDiv2{
    margin: 30px 0 0 15px;
}
select{
    display: block;
    margin-top: 10px;
}
div label{
    display: inline-block;
}
.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template: 150px / auto auto auto;
    grid-gap: 10px;
    background: rgba(30, 50, 170, 0.6); /* fallback for old browsers */
    background: -webkit-linear-gradient(right, rgba(30, 50, 170, 0.6), #416774);
    background: -moz-linear-gradient(right, rgba(30, 50, 170, 0.6), #416774);
    background: -o-linear-gradient(right, rgba(30, 50, 170, 0.6), #416774);
    background: linear-gradient(to left, rgba(30, 50, 170, 0.6), #416774);
    padding: 10px;
    border-radius: 10px;
}
.quadro{
    margin: 0 auto;
}
h1{
    visibility: hidden;
}
h2{
    font-family: "Roboto", sans-serif;
    color: #c9c9c9;
}
label{

    margin-top: 15px;
}

.status{
    padding: 40px 30px 0 0;
    color: #878787;
    font-size: 1.5em;
}
#cadastroBtn {
    float: right;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 10px 80px 0 80px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    outline: 0;
    background: rgba(30, 50, 170, 0.6); /* fallback for old browsers */
    background: -webkit-linear-gradient(right, rgba(30, 50, 170, 0.6), #416774);
    background: -moz-linear-gradient(right, rgba(30, 50, 170, 0.6), #416774);
    background: -o-linear-gradient(right, rgba(30, 50, 170, 0.6), #416774);
    background: linear-gradient(to left, rgba(30, 50, 170, 0.6), #416774);
    width: 25%;
    border: 0;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 1ms ease;
    transition: all 1ms ease;
    cursor: pointer;
    border-radius: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
button:hover,.form button:active,.form button:focus {
    background: #708da7;
}
input{
    margin-bottom: 10px;
}
textarea{
    display: block;
    margin-top: 10px;
}
